{% load static %}
{% static "assets/img/portfolio" as baseUrl %}
<html>
<head>
<title>Register </title>
<link href="{% static 'assets/img/icon.png' %}" rel="apple-touch-icon">
<link href="{% static 'assets/img/icon.png' %}" rel="icon">
</head>

<body style = "background-color: black; color:white; text-align:center;">
<h1>Grab Your Table </h1>
<form action=""  method="POST">
{% csrf_token %}
Time_of_arrival : <input type = "time" name = "time"/><br/>
(Please Enter time only if arrival time is 60 min ahead of current time )
<br><br>
Date_of_arrival : <input type = "date" name = "date"/><br/>
(Please use date which are ahead from current date)
<br><br>
Type_of_cuisine : <input type = "text" name = "cuisine"/><br/>
<br>



Email :           <input type = "email" name = "email"/> <br/>
<br>

Name :            <input typr = "text" name = "name"/> <br/>
<br>
No_of_people: <input type =  "number" name = "people"/> <br>
<br>

<input  class = "btn btn-primary" type="submit" value="Submit"/>
</form>
</body>

</html>